body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fullheight {
    height: 100vh;
}

.row {
    height:60px;
    box-sizing: border-box;
}

.row:last-of-type {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.date-row {
    border-top: solid 1px rgba(1,1,1,0.2);;
    border-bottom: solid 1px rgba(1,1,1,0.2);;
    border-right: solid 1px rgba(1,1,1,0.2);
    height: 100%;
    display:grid;

}
.date-row div {
    border-bottom: solid 1px rgba(1,1,1,0.2);;
}

.selectedRow {
}

.blob {
    border: inset 2px black;
}

.blob:after {
    content: " ";
    background-color: green;
    position: absolute;
    bottom: 0;
    left:0px;
    width: 100%;
    height: 2px;
    cursor: ns-resize;
}